@{
    ViewData["Title"] = "Data";
}
<h1>@ViewData["Title"]</h1>

<p>http://aws.amazon.com/datasets</p>
<p>www.bls.gov</p>
<p>https://cia.gov/library/publications/the-world-factbook</p>
<p>http://data.gov</p>
<p>https://developers.facebook.com/docs/graph-api</p>
<p>https://www.fbi.gov/about-us/cjis/ucr/ucr</p>
<p>https://law.justia.com/cases/federal/district-courts/</p>
<p>www.gapminder.org/data</p>
<p>http://google.com/finance</p>
<p>www.healthdata.gov/p>
<p>www.ncdc.noaa.gov/data-access/quick-links#loc-clim</p>
<p>http://developer.nytimes.com/docs</p>
<p>http://genderindex.org</p>
<p>www.census.gov/data.html</p>
